extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{personal.name}

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            //- Leaving this here because its awesome. | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | #{personal.pitch}
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          each skill in personal.skills
            li #{skill}
          
        h6 Contact Info

        ul
          li #{personal.contact_info.email}

        a.button.expanded(href=`${personal.contact_info.linkedIn}` target="_blank") LinkedIn
        a.button.expanded(href=`${personal.contact_info.github}` target="_blank") GitHub
        a.button.expanded(href=`${personal.contact_info.twitter}` target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home