extends layout.pug

block content 
  //- add a home button and set it to the left side of the nav area, additionally add a next and back button and move them to the right side
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
    if projects.id + 1 < totalProjects
      .float-right#next
        a(href=`/projects/${projects.id + 1}` )   Next →
    else
      .float-right#next
    if projects.id - 1 >= 0
      .float-right#back
        a(href=`/projects/${projects.id - 1}` ) ← Back
    
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{projects.project_name}

        p.lead.text-light
          | #{projects.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies 

        ul
          each tech in projects.technologies
            li #{tech}


        //- in the odd case a project can't really have a live link, lets not display the button
        if projects.live_link != ""
          a.button.expanded(href=`${projects.live_link}` target="_blank") Live Demo
        a.button.expanded(href=`${projects.github_link}` target="_blank") GitHub Repo
    
      
    each pic, idx in projects.image_urls
      if idx != 0
        img.image(src=`${pic}`)
  //- this should really not be quite so hardcoded, however if the user is looking at the portfolio's page itself, make some bubbles
  if projects.id === 5
    script.
      document.addEventListener("DOMContentLoaded", function(){
        makeBubbles()
      }); 